<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resort Website</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.6.0/build/css/intlTelInput.css">
    

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/daterangepicker.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg custom-header">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img style="width: 100px; height: auto;" src="..static/images/logo.png" alt="Logo">
                <h1 class="text-light mb-0 ps-auto"><b>Hacienda Ponciano</b></h1>
            </a>
            <div class="d-flex justify-content-end flex-grow-1">
                <ul class="navbar-nav custom-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="accommodations.html">Accommodations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="info.html">Resort Info</a>
                    </li>
                    <li class="nav-item" style="margin-left: 15px;">
                        <a class="book-button" href="book.html"><strong>BOOK NOW</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <!-- Main content -->
    <main role="main">
        <div class="content-room">
            <h1 class="title">Find the Room for You</h1>
        </div>    
    
        <div class="container mb-3" style="margin-top: -100px;">
            <h1 style="text-align: center;">Hotel Rooms</h1>
        </div>
        
        <div class="container justify-content-center d-flex" style="margin-bottom: 5em; margin-top: 3em;">
            <div class="row">
                <div class="col">
                    <div class="card room-card grow-animate">
                        <img src="/static/images/standardroom.jpg" alt="standard hotel room" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Standard Room</h3>
                            <p class="info-text" style="text-align: justify;">Our Standard Room is a cozy and comfortable retreat for two (2) people, featuring a queen-sized bed and 
                                serene views. Perfect for couples or friends, it offers a space to unwind and relax. Comes with free breakfasts at the Restaurant.
                            </p>
                            <a class="book-button" href="/book" style="display: block; margin: 1em auto;"><strong>BOOK NOW</strong></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container"></div>
                </div>
                <div class="col">
                    <div class="card room-card grow-animate">
                        <img src="/static/images/deluxeroom.jpg" alt="standard hotel room" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Deluxe Room</h3>
                            <p class="info-text" style="text-align: justify;">The Deluxe Room is a spacious haven for up to four (4) guests, offering a blend of comfort and elegance. 
                                Ideal for families or small groups, it provides a tranquil setting to relax and enjoy your stay. Comes with free breakfasts at the Restaurant.
                            </p>
                            <a class="book-button" href="/book" style="display: block; margin: 1em auto;"><strong>BOOK NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer py-3" style="background-color: #486133;">
        <div class="container" style="padding-left: 10%;">
            <div class="row justify-content-center">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <h5 class="text-light">Location</h5>
                    <ul class="list-unstyled">
                        <li class="text-light"><i class="bi bi-geo-alt-fill"></i> 123 Resort Street, <br> Corduba City, Country</li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <h5 class="text-light">Contact Us</h5>
                    <ul class="list-unstyled">
                        <li class="text-light"><i class="bi bi-telephone-fill"></i> +1 (234) 567-8901</li>
                        <li class="text-light"><i class="bi bi-envelope-fill"></i> info@resort.com</li>                    
                    </ul>
                </div>
                <div class="col-lg-4">
                     <h5 class="text-light">Quick Links</h5>
                       <ul class="list-unstyled">
                        <li><a href="index.html" class="text-light">Home</a></li>
                        <li><a href="accommodations.html" class="text-light">Accommodations</a></li>
                        <li><a href="info.html" class="text-light">Resort Information</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mt-1">
            <p class="mb-0 text-light text-center">&copy; 2024 My Resort. All rights reserved.</p>
        </div>
    </footer>

    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
    <script defer type="text/javascript" src="../static/js/scripts.js"></script>

    <script>
        const header = document.querySelector('.custom-header')
        window.addEventListener("scroll", () => {
            if (window.scrollY >= 180){
                header.classList.add("scrolled")
            } else if(window.scrollY <= 150){
                header.classList.remove("scrolled")
            }
        })
    </script>



</body>

</html>